<app-navbar></app-navbar>
<div class="container">
  <div class="row icon-row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="text-align: center">
      <mat-icon class="mat-icon" inline=true>square_foot</mat-icon>
    </div>
  </div>
  <div class="row title-row">
    <div class="col-sm-9 col-md-3 col-lg-7 mx-auto" style="text-align: center">
      <h5>Welcome to our Tutoras!</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 col-md-6 col-lg-7 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title">Find a Tutor</h5>
          <form class="form-signin">
            <div class="form-label-group">
              <mat-form-field class="w-100">
                <mat-label>Subjects</mat-label>
                <mat-select [(ngModel)]="selectedSubjects"  name="selectedSubjects" multiple>
                  <input matInput placeholder="Search" class="form-control p-4" (keyup)="onKey($event.target.value)">
                  <mat-option *ngFor="let subject of searchResultSubjects" [value]="subject">{{subject.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <button class="btn btn-primary float-right" type="submit" (click)="searchTutors()">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
