<app-navbar></app-navbar>
<div class="container">
  <div class="row icon-row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="text-align: center">
      <mat-icon class="mat-icon" inline=true>square_foot</mat-icon>
    </div>
  </div>
  <div class="row title-row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="text-align: center">
      <h5>Welcome to our Tutoras!</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign Up</h5>
          <form class="form-signin" (submit)="register()">

            <div class="form-label-group">
              <input type="text" id="name" class="form-control" placeholder="Your name" required autofocus [(ngModel)]="name" name="name">
            </div>

            <div class="form-label-group">
              <input type="email" id="email" class="form-control" placeholder="Email address" required [(ngModel)]="email" name="email">
            </div>

            <div class="form-label-group">
              <input type="password" id="password" class="form-control" placeholder="Password" required [(ngModel)]="password" name="password">
            </div>

            <div class="form-label-group">
              <input type="password" id="repeatPassword" class="form-control" placeholder="Repeat Password" required [(ngModel)]="repeatPassword"
                     name="repeatPassword">
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="role-choice" id="studentRadio" value="student" [(ngModel)]="radioSelected">
              <label class="form-check-label" for="studentRadio">
                Student
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="role-choice" id="tutorRadio" value="tutor" [(ngModel)]="radioSelected">
              <label class="form-check-label" for="tutorRadio">
                Tutor
              </label>
            </div>
            <hr class="my-4">
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
